@use '../utils/variables.scss' as variables;

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  padding-top: calc(20px + 80px);
  background-color: variables.$lavender-web;
  width: 100%;
  box-sizing: border-box;
  
}

.cocktail-list ul {
  list-style: none;
  padding: 0;
}

.cocktail-list li {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

 @media (min-width: 600px) { // escritorio

  .cocktail-list {
    padding-top: 100px; // header más alto
  }
}
